:root {
    --font-sans-serif: Montserrat, sans-serif;
    --font-serif: Source Serif 4, serif;
    --black: #1f2322;
    --neon-green: #def647;
    --dark-grey: #bbbcbc;
    --green: #398200;
    --light-grey: #e9e9e9;
    --tan: #f4ece3;

    

}

html {
    box-sizing: border-box;
    padding: 2rem;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h4 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
  }

  body {
    font-family: var(--font-sans-serif);
    color: var(--black);
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  .component-img {
    border: 1px solid grey;
    overflow-x: auto;
  }

  .component-code {
    border: 1px solid grey;
    padding: 1rem;
  }
/* Main Image Shape ======================== */
.main-product-img {
    border: 1.5px solid var(--black);
    border-radius: 75%/100%;
    width: 75%;
}

/* Buttons ================================= */
  a {
    text-decoration: none;
    color: black;
  }

  .button {
    background-color: var(--tan);
    border: 1.5px solid var(--black);
    border-radius: 2rem;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .button-hover {
    background-color: var(--black);
    border: 1.5px solid var(--black);
    color: white;
    border-radius: 2rem;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }


  /* Ad Bar ================================== */
  .ad-bar {
    background-color: var(--neon-green);
}

.new-emphasis {
    background-color: black;
    max-width: 3rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.3rem;
    font-size: 0.6rem;
    padding: 0.3rem;
}
.buoy-box-icon {
    max-width: 2rem;
}

.ad-bar-bold {
    font-weight: bold;
}

.ad-flex {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ad-text {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}