:root {
    --font-sans-serif: Montserrat, sans-serif;
    --font-serif: Source Serif 4, serif;
    --black: #1f2322;
    --neon-green: #def647;
    --dark-grey: #bbbcbc;
    --green: #398200;
    --light-grey: #e9e9e9;
    --tan: #f4ece3;

    

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h4 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
  }

  body {
    font-family: var(--font-sans-serif);
    color: var(--black);
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  .component-img {
    border: 1px solid grey;
    overflow-x: auto;
  }

  .component-code {
    border: 1px solid grey;
  }