<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Buoy</title>
</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defults</h2>

    <article class="component">
    <h3 class="component-name">Body</h3>
    <img 
    srcset="images/main-page-content-1.png 2x"
    src="images/main-page-content-1.png"
    alt="main body content"
    >
    <div class="component-code">
        
<h4>Optimized for function, not flavor
Sugar Free</h4>
<ul>
    <li>✓Stevia & Sweetener Free</li>
    <li>✓Unflavored</li>
    <li>✓Vegan</li>
    <li>✓Non-GMO</li>
    <li>✓High Bioavailability</li>
</ul>
    </div>
</article>
</body>
</html>