<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Buoy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defalts</h2>

<article class="component">
    <h3 class="component-name">Text Headings and Body</h3>
    <div class="component-img">
    <img 
    srcset="images/main-page-content-text.png 2x"
    src="images/main-page-content-text.png"
    alt="main body content"
    >
    </div>
    
    <div class="component-code">    
<h4>Optimized for function, not flavor</h4>
    <p>✓ Stevia & Sweetener Free</p>
    <p>✓ Unflavored</p>
    <p>✓ Vegan</p>
    <p>✓ Non-GMO</p>
    <p>✓ High Bioavailability</p>
    </div>
</article>

<article class="component">
    <h3 class="component-name">Main Image Shape</h3>
    <div class="component-img">
    <img 
    srcset="images/photo-shape.png 2x"
    src="images/photo-shape.png"
    alt="main button">
    </div>
    
    <div class="component-code">  
        <img 
        src="https://justaddbuoy.com/cdn/shop/files/buoy-electrolyte-and-mineral-drops_530x630.jpg?v=1739346732"
        alt="main product photo"
        class="main-product-img">
    </div>
</article>

<article class="component">
    <h3 class="component-name">Buttons (main & secondary)</h3>
    <div class="component-img">
    <img 
    srcset="images/button.png 2x"
    src="images/button.png"
    alt="main button">
    <img 
    srcset="images/button-hover.png 2x"
    src="images/button-hover.png"
    alt="hover button">
    <img 
    srcset="images/button-highlight.png 2x"
    src="images/button-highlight.png"
    alt="button highlight">
    <img 
    srcset="images/button-white.png 2x"
    src="images/button-white.png"
    alt="button highlight">
    </div>
    
    <div class="component-code">    
    <p><a href="#!" class="button"> Learn More</a></p>
    </div>

    <div class="component-code">
    <p><a href="#!" class="button-hover"> Learn More</a></p>
    </div>

    <div class="component-code">
        <div class="button-highlight">
        <p class="new-emphasis-button"> new! </p>
        <p><a href="#!"> Build A Bundle</a></p>
    </div>
</div>

    <div class="component-code">    
        <p><a href="#!" class="button-white"> Shop All</a></p>
    </div>
</article>

<article class="component">
    <h3 class="component-name">Ad Bar</h3>
    <div class="component-img">
    <img 
    srcset="images/ad-bar.png 2x"
    src="images/ad-bar.png"
    alt="main button">
    </div>
    <div class="component-code"> 
        <section class="ad-bar">
        <div class="ad-flex">
        <p class="new-emphasis"> new </p>
        <p class="ad-bar-bold ad-text">Build Your Own Bundle!</p>
        <p class="ad-bar-text ad-text">Shop Savings, Free Gifts, New Products</p><p class=arrow>→</p>
        <img src="../images/box.avif"
        class="buoy-box-icon ad-text">
        </div>
    </section>
    </div>
</article>

<article class="component">
    <h3 class="component-name">Product</h3>
    <div class="component-img">
    <img 
    srcset="images/product.png 2x"
    src="images/product.png"
    alt="product card">
    </div>
    <div class="component-code">
    <div class="product-card">
    <p class="corner-emoji">💎</p>

    <img src="https://justaddbuoy.com/cdn/shop/files/preview_images/ee7abf3c16d94ce496102c4b50da319a.thumbnail.0000000000.jpg?v=1719812416&width=3600"
    alt="first product"
    class="product-card-img">
    <p class="product-rating">⭐⭐⭐⭐ 4225 Reviews</p>
    <h3>Hydration Drops</h3>
    <p class="product-description">Deeply hydrate and remineralize with any drank.</p>

    </div>
    </div>
        
    </div>
</article>

<article class="component">
    <img 
    srcset="images/cta.png 2x"
    src="images/cta.png"
    alt="main button">

<div class="component-code">
    <div class="cta-card">
        <h3 class="cta-heading">Be Our #MainSqueeze</h3>
        <p class="cta-body-text">to claim your welcome gift</p>
        <div class="email-bar">
            <p class="email">Enter your email</p><p class="arrow">→</p> 
        </div>
    </div>
</div>
</article>

<article class="component">
    <img 
    srcset="images/social-card-review.png 2x"
    src="images/social-card-review.png.png"
    alt="review card">

<div class="component-code">
    <div class="review-card">
        <img src="../images/review1.png"
        class="reveiw-image">
        <div class="tags">
        <p class="tag-names">Hydration</p>
        <p class="tag-names">Immunity</p>
        <p class="tag-names">Energy</p>
        </div>
        <h5 class="review-heading">Sugar free hydration</h5>
        <p class="review-text">Great hydration that mixes well with almost anything. Love that it's sugar and stevia free without natural flavors</p>
        <p class="review-name">Abigail G</p>
    </div>
</div>
</article>

<article class="component">
    <img 
    srcset="images/main-page-content-3.png 2x"
    src="images/main-page-content-3.png"
    alt="main content 3">

<div class="component-code">
    <div class="main-content-3">
        <div class="heading-block-3">
        <h3 class="heading-3"><strong>Values that go</strong> <em>beyond ingredient quality</em></h3>
        </div>
        <div class="people">
            <p class="emoji-3">💗</p>
            <h3 class="secondary-heading-3">People</h3>
            <p class="text-3">We donate for every one sold on our site to nonprofits supporting people with chronic illnesses and reserve deep discounts for people managing them.</p>
            <p class="link-3"><a href="#!">Chronic Illness Support</a></p>
        </div>
        <div class="planet">
            <p class="emoji-3">🌎</p>
            <h3 class="secondary-heading-3">Planet</h3>
            <p class="text-3">The most sustainable way to hydrate <em>has arrived</em>. Ditch single-serving plastics with post consumer recycled bottles, biodegradable refill mailers and more.</p>
            <p class="link-3"><a href="#!">Sustainability at Buoy</a></p>
        </div>
    </div>
</div>
</article>

</body>
</html>